[submodule "osis"]
	path = osis
	url = git@github.com:uclouvain/osis.git
    branch = dev
[submodule "osis-portal"]
	path = osis-portal
	url = git@github.com:uclouvain/osis-portal.git
    branch = dev
